.tables-container {
  display: flex;
  flex-wrap: wrap;
  height: 90vh;
  overflow-x: auto;
  overflow-y: auto;
  gap: 16px;
  padding: 16px;
}

.table-card {
  background-color: grey;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  overflow-x: auto;
  overflow-y: auto;
  width: 250px;
  height: 30vh;
  transition: transform 0.2s;
}

.table-card:hover {
  transform: scale(1.05);
}

.table-name {
  font-size: 1.2em;
  margin-bottom: 8px;
  color: #333;
}

.table-columns {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.table-column {
  color: black;
  border: 1px solid #ccc;
  text-align: center;
}

.table-column::placeholder {
  color: white;
}
