:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

input,
button {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #2f2f2f;
  align-items: center;
}

.config-form-container {
  width: 50%;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  color: white;
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: white;
  margin-bottom: 5px;
}

input,
select {
  padding: 8px;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #ccc;
  box-sizing: border-box;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.tables-container {
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  overflow-x: auto;
  overflow-y: auto;
  gap: 16px;
  padding: 16px;
}

.table-card {
  background-color: grey;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  overflow-x: auto;
  overflow-y: auto;
  width: 250px;
  height: 20vh;
  transition: transform 0.2s;
}

.table-card:hover {
  transform: scale(1.05);
}

.table-name {
  font-size: 1.2em;
  margin-bottom: 8px;
  color: #333;
}

.table-columns {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.table-column {
  color: black;
  border: 1px solid #ccc;
  text-align: center;
}

.table-column::placeholder {
  color: white;
}

.set-sensitivity {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.set-sensitivity:hover {
  background-color: #45a049;
}

.exc-window {
  height: 100vh;
  width: 100vw;
  background-color: black;
}
